<header>
  <mat-toolbar class="mat-toolbar" >
    <a>
      <!-- <img [src]="imagine"> -->
    </a>
    <span class="example-spacer"></span>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle  value="bold">
        <mat-icon>home</mat-icon> Início
      </mat-button-toggle>
      <mat-button-toggle value="italic">
      <mat-icon>favorite</mat-icon>
      Italic</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-toolbar>

  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
</header>
